*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-family: 'Montserrat', sans-serif;
}


.profile-section{
    background: url(./Images/setup.jpg) no-repeat left;
    background-size: 30%;
    float: left;
    overflow: hidden;
    padding: 200px 0;
}

.inner-container{
    width: 60%;
    float: right;
    background-color: rgb(244, 244, 244);
    padding: 100px;

}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}


@media screen and (max-width:1200px){
    .inner-container{
    padding: 80px;
}
}

@media screen and (max-width:1200px){
    .profile-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
    width: 100%;
   
    }
}

body {
    background: url('./images/Grey.jpg');
    background-repeat: no-repeat;
    background-size: 1600px;
}
